/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

/* 2. Remove default margin */
body {
  font-family: "ui-sans-serif, system-ui, sans-serif";
  background-color: aliceblue;
}

.underConstruction {
  font-size: 3rem;
  color: rgb(225, 133, 133);
}
.headerContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbarContainer {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  box-shadow: 5px 2.5px 2.5px gray;
}

.headerTitleImgContainer {
  display: flex;
}

.headerImg {
  height: 48px;
  width: 48px;
}

.navbarUnorderedList {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

.navbarListItem,
.footerListItem,
.navbarListItemHome {
  list-style: none;
  padding: 5px;
}

.navbarListItemHome {
  margin-right: auto;
}

.navbarButton {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  height: auto;
  width: fit-content;
  padding: 10px 5px;
  opacity: 0.75;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
}

.navbarButtonActive {
  display: block;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  height: auto;
  width: fit-content;
  padding: 10px 5px;
  opacity: 1;
  color: white;
  background-color: #0080ff;
  font-weight: 700;
  cursor: pointer;
  /* border: 2px solid black; */
  border-radius: 8px;
}

.navbarButton:hover {
  background: transparent;
  color: #0080ff;
  font-weight: 700;
}

.mainContainer {
  /* border: 1px solid blue; */
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.quickDraftsContainer,
.sidepanelContainer {
  display: flex;
  flex-direction: column;
}

.sidepanelImage {
  width: 90%;
}

.quickDraftImage {
  width: 90%;
}

.footerUnorderedList {
  display: flex;
  justify-content: space-evenly;
}
